<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="STLViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <STLViewer.Properties.Settings>
            <setting name="RootDirDB" serializeAs="String">
                <value>D:\Simbirsoft\Summer_Intensity\STLViewer\STLViewer\STLViewer\bin\Release\test_db_models</value>
            </setting>
            <setting name="ColorModel" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ColorBackground" serializeAs="String">
                <value>White</value>
            </setting>
        </STLViewer.Properties.Settings>
    </userSettings>
</configuration>
